.heroLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    margin-left: 150px;
    font-family: var(--body-font), sans-serif;
    width: 50vw;
    height: 100vh;
    text-align: left;
    color: var(--color-white);

}

.heroHeading {
    font-size: 66px;
    font-weight: var(--font-medium);
}

.heroHeadingBold {
    font-size: 66px;
    font-weight: var(--font-bold);
}

.text {
    width: 560px;
    height: 99px;
    top: 480px;
    left: 158px;
    opacity: 30%;
}



.wrapper {
    width: 438px;
    height: 74px;
    position: relative;
  }
  
  .searchBox {
    width: 100%;
    height: 100%;
    border-radius: 43px;
    border: none;
    padding: 0 20px;
    opacity: 0.5;
    background-color: var(--color-gray); 
  }
  
 
  .searchBox::placeholder {
    color: var(--color-primary);
    font-size: 15px;
}
  

