
:root{
  /*========== Colors ==========*/
  --color-primary:#E3B748;
  --color-black:#111111;
  --color-white:#FFFFFF;
  --color-gray:#1D1D1D;
  /*========== Font ==========*/
  --body-font:"Inter",sans-sarif;
 /*========== Font weight ==========*/
 --font-normal: 400;
 --font-medium: 500;
 --font-semi-bold: 600;
 --font-bold: 700;
}
*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}
html{
  height: 100%;
}

body {
  height: 100%;
  height: 100%;
}

body {
  font-family: var(--body-font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-gray);
  columns: var(--color-white);

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: break-word;
}


